{% extends 'pagebase.html' %}
<!---->
{% block maincontent %}
<h1 id="title">Preface</h1>
<h3 id="subtitle"></h3>
<section>
  <p>Computers.</p>
  <p>
    They are essentially made of a big lump of inanimate mechanical objects, yet
    when they are pieced together in an orderly fashion and given meticulous
    instructions, they are able to perform a plethora of tasks, from basic
    arithmetic to rendering 3D structures with realistic shadows.
  </p>
  <p>
    It is a well known fact that computers read information in binary. Yet, how
    is that a series of 1s and 0s can be interpreted to calculate the 62
    trillionth digit of π? Mysterious, isn't it?
  </p>
  <p>
    To understand how computers work, we need to deepdive into their basic
    circuitry. Modern-day computers are part of a field called “digital
    electronics”, a subfield of electronics that involves the study and
    engineering of digital signals to manufacture devices, such as computers.
    Digital circuits are assembled by chaining multiple logic gates, and in this
    tutorial, we shall delve into the specificities of how logic gates function,
    make a calculator, and learn how a computer remembers things.
  </p>
</section>
<section>
  <h2 class="section-title">Prerequisites</h2>
  <p>
    Before we continue, please download the
    <a href="https://sebastian.itch.io/digital-logic-sim" _target="blank">
      logic gate simulator
    </a>
    by Sebastian Lague
  </p>
</section>
{% endblock %}
