:root {
  --normal-font-size: 16px;
  --rich-black: #010203;
  --theme: var(--rich-black);
}

@font-face {
  font-family: scribble;
  src: url(../fonts/scribble.otf);
  font-stretch: expanded;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 100vh;
  min-width: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--rich-black);
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Button */

.btn {
  align-self: center;
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
  outline: none;

  color: white;
  background-color: var(--rich-black);

  cursor: pointer;
  display: inline-block;
  font-family: scribble;
  font-size: 26px;
  letter-spacing: 0.1rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: bold;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  transition: all 235ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: var(--theme);
}

/* Scrollbar */
