:root {
  --theme: var(--rich-black);
  --alt-theme: var(--rich-black);
}

#top-line {
  padding: 0px 20px 20px 0px;
  background-color: var(--theme);
}

#nframe {
  height: 90vh;
  width: 100vw;
  border: 0px solid white;
}

#nav-buttons {
  width: 100vw;
  display: flex;
}

#nav-buttons > * {
  width: 50vw;
  border-radius: 0px;
}

#back-btn:hover,
#back-btn:focus {
  background-color: var(--alt-theme);
}

#back-btn {
  float: left;
  border-right: 2px solid white;
  border-radius: 0px 10px 10px 0px;
}

#next-btn {
  float: right;
  border-left: 2px solid white;
  border-radius: 10px 0px 0px 10px;
}

#footer {
  bottom: 0px;
}
