:root {
  --theme: var(--rich-black);
  --alt-theme: var(--rich-black);
}

#section-line {
  background-color: var(--theme);
  font-size: 14px;
  color: white;
  padding: 10px;
  width: min-content;
  padding-left: 18px;
  padding-right: 18px;
  border-bottom-right-radius: 10px;
}

#content {
  height: 90%;
  display: flex;
  flex-direction: row;
}

#footer {
  height: 10%;
}

#nframe {
  width: 100vw;
  border: 0px solid white;
  bottom: 0px;
}

#nav-buttons {
  width: 100vw;
  display: flex;
  /* Vertical center */
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#nav-buttons > * {
  width: 50vw;
  border-radius: 0px;
}

#back-btn:hover,
#back-btn:focus {
  background-color: var(--alt-theme);
}

#back-btn {
  float: left;
  border-right: 2px solid white;
  border-radius: 0px 10px 10px 0px;
}

#next-btn {
  float: right;
  border-left: 2px solid white;
  border-radius: 10px 0px 0px 10px;
}

#footer {
  bottom: 0px;
}
