{% extends 'base.html' %}
<!---->
{% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/error.css') }}"
/>
<script>
  function hover(element) {
    element.setAttribute(
      "src",
      "{{ url_for('static', filename='img/happy.png') }}"
    );
  }

  function unhover(element) {
    element.setAttribute(
      "src",
      "{{ url_for('static', filename='img/sad.png') }}"
    );
  }
</script>
{% endblock %}
<!---->
{% block content %}
<div id="error">
  <img
    id="error-img"
    src="{{ url_for('static', filename='img/sad.png') }}"
    onmouseover="hover(this);"
    onmouseout="unhover(this);"
  />
  <h1 id="error-code" title="{{ error.description }}">{{ error.code }}</h1>
  <p id="error-desc">{{ error.name }}</p>
</div>
{% endblock %}
